@model FaceLook.UI.Models.RequestStatus

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>HttpCodeResult</title>
</head>
<body>
<div class="container" style="margin-top: 100px">
    <div class="row">
        <div class="col-md-12 text-center">
            <p class="text-primary">Request crashed with status code @Model.StatusCode</p>
            <p>@Model.Message</p>
        </div>
    </div>
</div>
</body>
</html>