@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>PageNotFoundResult</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div style="margin-top: 50px; text-align: center;">
                <img src="../../Content/Photos/404.png"/>
            </div>
            <div class="warning">
                @Model
            </div>
        </div>
    </div>
</div>

</body>
</html>